.subnav {
  position: relative;
  z-index: 5;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #1b2126;
  box-shadow: 0px 6px 8px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 6px 8px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 8px -4px rgba(0, 0, 0, 0.75);
}

/* .subnav a {
  position: relative;
}

.subnav a::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;
  background: #1b2126;
} */

/* .subnav::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;
  scale: var(--_width, 0.15) 1;
  translate: var(--left, 170px) 0;
  transform-origin: left;
  background: rgb(156, 28, 248);
} */

.selected {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: white;
  background-color: rgb(156, 28, 248);
}
