header {
  border-bottom: 1px solid #1b2126;
}

.logo-cont {
  display: flex;
  justify-content: left;
  align-items: center;
  white-space: nowrap;
  width: 33%;
}

.logo-cont img {
  height: 50px;
  margin-right: 10px;
}
