.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100%;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.form-cont {
  color: black;
  padding: 20px 50px;
  background-color: white;
  height: fit-content;
  width: 65vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  z-index: 15;
}

@media (max-width: 900px) {
  .form-cont {
    width: 90vw;
  }
}

.dropdown {
  border: 1px solid #1b2126;
  padding: 4px;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  height: 100%;
}

.closeBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: #2c3e50;
  background: white;
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
  margin-top: -7px;
  margin-right: -7px;
}

.img-preview {
  height: 100px;
  text-align: center;
}

.closeBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-4px, 4px);
}

.cambia {
  color: red;
}

.radio-cont {
  display: flex;
  align-items: center;
}

.radioright {
  margin-left: 20px;
}
